body {
	font-size: 16px;
	font-family: Arial;
	padding: 0;
	margin: 0;
}

a {
	font-size: 13px;
	text-decoration: none;
	color: #039be5;
}

ul {
	list-style-type: none;
}

.container .sidenav {
	position: fixed;
	left: 0;
	width: 300px;
	top: 0;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	transform: translateX(0);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.container .sidenav:hover {
	overflow-y: auto;
}

.sidenav li a:hover,
.sidenav li.active .accordion {
	background: #EEEEEE;
}

.sidenav li a{
	font-size: 14px;
	height: 44px;
	line-height: 44px;
	padding: 0 20px;
	display: block;
	color: #000000;
	cursor: pointer;
}

.sidenav li.active .subnavs{
	display: block;
}

.sidenav .subnavs,
.topnav {
	display: none;
}

.sidenav .subnavs .sublist{
	margin: 0;
	padding: 0;
}

.sidenav .subnavs .sublist a {
	padding: 0 40px;
}

.container .datacontainer {
	padding-left: 320px;
}

.container .datacontainer .content {
	padding: 20px;
}

#sidenav-overlay {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    will-change: opacity;
    display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
	.sidenav {
		transform: translateX(-100%);
		display: none;
	}

	.sidenav.open {
		transform: translateX(0);
		top: 0;
		background: #FFFFFF;
		width: 300px;
		display: block;
		z-index: 3;
		padding-top: 54px;
	}

	.container .datacontainer {
		padding: 0;
	}

	.topnav {
		margin-bottom: 20px;
		display: block;
		border-bottom: 1px solid #CCCCCC;
	}

	.topnav .navicon img {
		width: 50px;
	}

	.topnav .page-title {
		font-size: 20px;
		vertical-align: top;
		line-height: 50px;
	}
}

@media screen and (width: 768px) {
	.topnav .navicon img {
		width: 70px;
	}

	.topnav .page-title {
		line-height: 70px;
	}
}
